@import "tailwindcss";

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

.friends.border img {
  border: 3px solid #07fff3;
}
.friends.border div span {
  color: #07fff3;
}
